body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26de81;
}

.loading {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    /* transform: ; */
  }

  50% {
    /* transform: ; */
  }

  100% {
    /* transform: ; */
  }
}
